@import url('https://fonts.googleapis.com/css2?family=Lato:300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background: linear-gradient(to right, #d4d3dd, #efefbb);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    letter-spacing: 5px;
}

.pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   margin: 0 auto;
   max-width: 1200px;
}

.pokeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.Pokemon {
    background-color: #e5ffb5;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 160px;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(225, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.imgContainer img {
   max-width: 90%;
}

.info {
    margin-top: 20px;
}

.number {
   background-color: rgba(0, 0, 0, 0.15);
   padding: 2px 13px;
   border-radius: 10px;
   font-size: 0.8rem;
}
.name {
   margin: 15px 7px;
   letter-spacing: 1.5px;
}