@import url('https://fonts.googleapis.com/css2?family=Lato:300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background: linear-gradient(to right, #d4d3dd, #efefbb);
   
}